body{
  font-family: 'Poppins', sans-serif;
}
.container{
 width: 1440px;
 height: 677px;
 background-color: #2d25a0;
 margin: 0 auto;
 position: relative;
 display: flex;
 flex-direction: row;
 margin-bottom: 70px;
}
.left{
 position: absolute;
 top: 207px;
 left: 156px;
 
 color: #ffffff;
}
.left h2{
 font-size: 64px;
 line-height: 80px;
 margin-bottom: 0px;
 margin-top: 0px;
}
 .right img{
 width: 556px;
 height: 438px;
 position: absolute;
left: 743px;
top: 135px;
 
}
a{
 display: inline-block;
 width: 168px;
 height: 34px;
 color: #ffffff;
 background-color: #e02c6d;
 text-decoration: none;
 font-size: 16px;
 line-height: 24px;
 font-weight: 500;
 margin-top: 17px;
 text-align: center;
 padding-top: 10px;
}
.player-profile{
 width: 300px;
 height: 444px;
 padding: 15px;
 margin-bottom: 27px;
 box-shadow: 0px 0px 5px lightgray;
}
#player-profile{
  margin-bottom: 130px;
}
.player-profile h3{
 font-size: 28px;
 line-height: 40px;
 font-weight: 700;
 margin: 0px;
 padding-bottom: 10px;
}
.player-profile p{
 width: 300px;
 font-size: 16px;
 font-weight: 400;
 line-height: 28px;
 color: #6c6c6c;
 margin-top: 0px;
}
.player-profile img{
 width: 300px;
 height: 256px;
}
.players-collection{
 width: 1050px;
 margin: 0 auto;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
}
/*-----Footer Section-----*/

footer .container-one{
  width: 1440px;
  height: 213px;
  margin: 0 auto;
  position: relative;
}

footer .images img{
  width: 483.87px;
  height: 110px; 
   position: absolute;
   left: 475px;
}

footer .container-one .instagram img{
  width: 32px;
  height: 32px; 
  position: absolute;
  top: 130px;
  left: 723.94px;
}
footer .container-one .twitter img{
  width: 32px;
  height: 32px; 
  position: absolute;
  top: 130px;
  left: 631.94px;
}
footer .container-one .dribbble img{
  width: 32px;
  height: 32px; 
  position: absolute;
  top: 130px;
  left: 677.94px;
}
footer .container-one .youtube img{
  width: 32px;
  height: 32px; 
  position: absolute;
  top: 130px;
  left: 769.94px;
}
footer .container-one .copyright{
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  top: 182px;
  left: 598.94px;
}
/*---media screen---*/
/*---mobile---*/

@media only screen and (max-width:688px){
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    min-height: 100vh;
    width: 100vw;
    
  }
  header{
    width: 100vw;
  }
  header .change .container{
    width: 100vw;
    
    margin-left: 0px;
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 156px;
    margin: 0;
    
    }
  .left{
    right: 66px;
    top: 0px;
  }
  .left h2{
    font-size: 36px;
    line-height: 50px;
    font-weight: 700;
    margin-top: 112px;
  }
  
  .right{
     width: 329px;
    height: 259.17px;
  }
  .right img{
    margin-left: 15px;
    padding: 0;
    width: 3px;
    height: 259.17px;
    left: 0px;
    top: 374px;
    
  }
  a{
    margin-top: 30px;
  }
  main .players-collection{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 24px;
    place-content: center;
  }
  main .player-profile{
    width: 300px;
    height: 426px;
    padding: 15px;
    margin: 15px;
    
    box-shadow: none;
   
  }
    main .player-profile p{
      width: 300px;
    
      font-size: 16px;
      line-height: 26px;
    }
    
  main .player-profile h3{
      width: 300px;
      font-size: 28px;
      line-height: 40px;
    }
    
  main .player-profile img{
    width: 300px;
    height: 256px;
  }
  footer{
    display: none;
  }

}

/*--------------------------------

   For little bit bigger screen 
   sizes (Tablets..)

    --------------------------------*/
    
@media only screen and (min-width:689px) and (max-width:900px){
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header,footer{
    display: none;
  }
  /*header .change .container{
    width: 360px;
    height: 695px;
    margin-left: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    margin: 0;
    padding: 0;
    }
  .left{
    left: 10px;
    top: 0px;
  }
  .left h2{
    font-size: 36px;
    line-height: 50px;
    font-weight: 700;
    margin-top: 112px;
  }
  
  .right{
     width: 329px;
    height: 259.17px;
  }
  .right img{
    margin-left: 15px;
    padding: 0;
    width: 329px;
    height: 259.17px;
    left: 0px;
    top: 374px;
    
  }
  a{
    margin-top: 30px;
  } */
  main{
    width: 768px;
  }
  main .players-collection{
    width: 50%;
    margin-left: 20px;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 15px;
    grid-column-gap: 10px;
    place-content: center;
  }
  main .player-profile{
    width: 80px;
    height: 156px;
    padding: 0px;
    margin: 4px;
    margin-left: 4px;
    box-shadow: none;
   
  }
    main .player-profile p{
      width: 80px;
    
      font-size: 10px;
      line-height: 15px;
    }
    
  main .player-profile h3{
      width: 80px;
      font-size: 16px;
      line-height: 21px;
    }
    
  main .player-profile img{
    width: 80px;
    height: 66px;
  }
  footer{
    display: none;
  }

}